header {
	.navbar{
		display:flex;
		align-items:center;
		letter-spacing:2px;
		padding: 0 10px;

		&__logo{
			font-size: 37px;
			color: $color-white;
			text-decoration: none;
			text-transform: uppercase;
		}

		&__menu{
			margin-left: auto;
			&__nav{
				display: flex;
				&__item{
					a{
						text-decoration:none;
						text-transform:uppercase;
						color: $color-white;
						font-size: 12px;
						font-weight: 600;
						margin: 0 4px;
						padding: 0 12px;
						line-height: 2;
						letter-spacing:1.94px;
					}
				}
			}
		}
	}
}
