.button {
	display: inline-block;
	border: 0;
	background-color: transparent;
	font-size: 16px;
	color: $color-gray-dark;
	padding: 20px 45px;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	line-height: normal;

	&--primary {
		color: white;
		background-color: $color-primary;
	}

	&--outline {
		border: 1px solid;
		color: $color-gray-blur;
	}
}
